.elements {
  margin: 0 auto;
  max-width: 880px;
  max-height: 743px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 21px;
}

.elements__picture {
  max-width: 282px;
  max-height: 361px;
  position: relative;
}

.elements__picture:nth-last-child() {
  row-gap: 0px;
}

.elements__picture-size {
  width: 282px;
  max-height: 282px;
  border-radius: 10px 10px 0 0;
}

.elements__picture-trash-btn {
  width: 18px;
  height: 19px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
}

.elements__picture-trash-btn:hover {
  cursor: pointer;
  opacity: 60%;
  color: #fff;
}

.elements__picture-name-section {
  background-color: #fff;
  padding: 0 15px 0 21px;
  max-width: 282px;
  height: 79px;
  border-radius: 0 0 10px 10px;
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
}

.elements__picture-name {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  text-overflow: ellipsis; /*Estas últimas líneas se usan para evitar desbordamiento de texto*/
  white-space: nowrap; /*aplicar una elipsis "..."*/
  overflow: hidden;
}

.elements__picture-like-btn {
  width: 21px;
  height: 19px;
  border: none;
  background-color: #fff;
  align-self: center;
  background: url(https://practicum-content.s3.us-west-1.amazonaws.com/web-code/dom/moved_heart.svg)
    center no-repeat;
  background-size: 100%;
  cursor: pointer;
  align-self: center;
  opacity: 1;
  color: #000;
}

.elements__picture-like-btn:hover {
  opacity: 0.5;
}

.elements__picture-like-btn:active {
  opacity: 1;
  background: url(https://practicum-content.s3.us-west-1.amazonaws.com/web-code/dom/moved_heart-filled.svg)
    center no-repeat;
}
