.elements {
  margin: 0 auto;
  max-width: 882px;
  max-height: 743px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.elements__picture {
  margin-bottom: 21px;
  max-width: 282px;
  max-height: 361px;
  position: relative;
}

.elements__picture:nth-last-child() {
  margin-bottom: 0px;
}

.elements__picture-size {
  width: 282px;
  max-height: 282px;
  border-radius: 10px 10px 0 0;
}

.elements__picture-trashBtn {
  width: 18px;
  height: 19px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
}

.elements__picture-nameSection {
  background-color: #fff;
  padding: 0 15px 0 21px;
  max-width: 282px;
  height: 79px;
  border-radius: 0 0 10px 10px;
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
}

.elements__picture-name {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  text-overflow: ellipsis; /*Estas últimas líneas se usan para evitar desbordamiento de texto*/
  white-space: nowrap; /*aplicar una elipsis "..."*/
  overflow: hidden;
}

.elements__picture-likeBtn {
  padding: 0;
  display: flex;
  margin: 0 0 0 8px;
  background-color: white;
  border: none;
  width: 21px;
  height: 19px;
  align-self: center;
}

.elements__picture-vectorHeart {
  width: 21px;
  height: 19px;
  border: none;
  background-color: #fff;
  align-self: center;
}
