@media screen and (max-width: 928px) and (min-width: 768px) {
  .header,
  .profile,
  .elements {
    max-width: 581px;
    max-height: 100%;
  }

  .profile__info {
    padding-left: 20px;
    padding-right: 50px;
  }

  .elements__picture-name-section {
    height: 50px;
  }

  .elements__picture-name {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 100%;
    padding-left: 27px;
  }

  .profile {
    max-width: 282px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
  }

  .profile__photo {
    align-self: center;
    margin-bottom: 14px;
  }

  .profile__info {
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
    text-align: center;
  }

  .profile__info-text {
    padding-right: 12px;
  }

  .profile__info-name {
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    padding-bottom: 14px;
    padding-right: 0px;
  }

  .profile__info-about {
    font-size: 14px;
    line-height: 18px;
    padding-right: 0px;
  }

  .profile__info-edit {
    align-self: normal;
  }

  .profile__add-img {
    margin-top: 36px;
    width: 282px;
    height: 50px;
  }

  .elements {
    max-width: 282px;
    max-height: 100%;
  }

  .elements__picture {
    margin: 0 auto 21px;
  }

  .elements__picture-name-section {
    height: 50px;
  }

  .elements__picture-name {
    font-size: 16px;
    line-height: 22px;
  }

  .popup {
    max-width: 282px;
    max-height: 322px;
  }

  .popup__edit {
    padding: 25px 16px 0px 22px;
  }

  .popup__edit-title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 74px;
  }

  .popup__edit-close-btn {
    position: fixed;
    top: -12%;
    right: 3%;
  }

  .popup__edit-btn-img {
    width: 26px;
  }

  .popup__formContainer {
    max-width: 238px;
  }

  .form__edit-subm-btn {
    margin: 46px auto 25px;
    height: 46px;
  }
}
