.content {
  position: relative;
}

.popupWindows {
  margin: 0 auto;
  max-width: 430px;
  max-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /*Esto ayuda a posicionar en el centro de la pantalla, independmt del tamaño*/
}

.popupWindows__editProfilePlace-title {
  margin: 0;
  color: #000;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  padding: 36px 0 0 34px;
}

.popupWindows__editProfilePlace-closeBtn {
  font-size: 41px;
  color: #d32121;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popupWindows__editProfilePlace-closeBtn:hover {
  cursor: pointer;
  opacity: 60%;
  color: #000;
}

.form__editProfilePlace-field {
  border: 0;
  margin: 54px 36px 30px;
  width: 358px;
  border-bottom: 1px solid #000;
  opacity: 20%;
}

.form__editProfilePlace-field:last-of-type {
  margin: 0px 36px 48px;
}

.form__editProfilePlace-subBtn {
  margin: 0 36px 36px;
  width: 358px;
  height: 50px;
  background-color: #000;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.form__editProfilePlace-subBtn:hover {
  cursor: pointer;
  opacity: 80%;
}
