.content {
  position: relative;
}

.popup-container-bg {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  margin: 0 auto;
  max-width: 430px;
  max-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /*Esto ayuda a posicionar en el centro de la pantalla, independmt del tamaño*/
  opacity: 0;
  visibility: hidden;
}

.popup_openImg_transp {
  background-color: transparent;
}

.popup_opened {
  opacity: 1;
  visibility: visible;
}

.popup__edit {
  padding: 34px 36px 0;
}

.popup__edit-title {
  margin: 0;
  max-width: 330px;
  color: #000;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  padding-bottom: 54px;
}

.popup__edit-close-btn {
  position: fixed;
  top: -12%;
  right: -10%;
}

.popup__edit-btn-img {
  width: 40px;
}

.popup__edit-close-btn:hover {
  cursor: pointer;
  opacity: 60%;
  color: #000;
}

.popup__formContainer {
  width: 358px;
}

.form__edit-field {
  color: rgb(0 0 0 / 1);
  width: 100%;
  margin-bottom: 28px;
  border: 0;
  border-bottom: 1px solid rgb(0 0 0 / 0.2);
  font-size: 14px;
  line-height: 17px;
}

/*Esta declaración permite que al momento de dar click en el box del input
no aparezca el borde en toda la caja y se mantenga el texto en negro*/
.form__edit-field:focus {
  outline-style: none;
}

.form__edit-field::placeholder {
  color: #c4c4c4;
}

.form__edit-field:last-of-type {
  margin-bottom: 0px;
}

.form__edit-subm-btn {
  margin: 48px 0 37px;
  width: 100%;
  height: 50px;
  background-color: #000;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.form__edit-subm-btn:hover {
  cursor: pointer;
  opacity: 80%;
}

.popup_open-image {
  max-width: 75vw;
  max-height: 75vh;
  display: block;
}

.popup__big-img-name {
  position: fixed;
  bottom: -10%;
  left: 110px;
  font-size: 16px;
  line-height: 15px;
}

.popup__big-img {
  max-width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__edit-field:invalid {
  /*background-color: transparent;*/
  border-bottom: 1px solid #ff0000;
}

.form__input-error {
  font-size: 12px;
  color: red;
  opacity: 0;
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  transition: 0.3s;
}

.form__input-error_active {
  opacity: 1;
}

.form__edit-subm-btn_disabled {
  background-color: #c4c4c4;
}
