.elements {
  margin: 0 auto;
  max-width: 880px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 21px;
  column-gap: 17px;
}

.elements__picture {
  max-width: 282px;
  min-height: 361px;
  position: relative;
}

.elements__picture:nth-last-child() {
  row-gap: 0px;
}

.elements__picture-size {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  display: block;
}

.elements__picture-trash-btn {
  width: 18px;
  height: 19px;
  background-color: transparent;
  border: none;
  background: url(../images/TrashButton.svg) center no-repeat;
  background-size: 100%;
  position: absolute;
  top: 18px;
  right: 15px;
}

.elements__picture-trash-btn:hover {
  cursor: pointer;
  opacity: 60%;
  color: #fff;
}

.elements__picture-name-section {
  background-color: #fff;
  padding: 0 15px 0 21px;
  max-width: 282px;
  height: 79px;
  border-radius: 0 0 10px 10px;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 50%;
}

.elements__picture-name {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  text-overflow: ellipsis; /*Estas últimas líneas se usan para evitar desbordamiento de texto*/
  white-space: nowrap; /*aplicar una elipsis "..."*/
  overflow: hidden;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.elements__like-btn {
  width: 21px;
  height: 19px;
  border: none;
  background-color: #fff;
  justify-self: center;
  align-self: end;
  background: url(https://practicum-content.s3.us-west-1.amazonaws.com/web-code/dom/moved_heart.svg)
    center no-repeat;
  background-size: 100%;
  cursor: pointer;
  opacity: 1;
  color: #000;
}

.elements__like-btn:hover {
  opacity: 0.5;
}

.elements__like-btn-active {
  background: url(https://practicum-content.s3.us-west-1.amazonaws.com/web-code/dom/moved_heart-filled.svg)
    center no-repeat;
}

.elements__likes-counter {
  color: #000;
  font-size: 13px;
  justify-self: center;
  align-self: start;
  margin: 3px;
}
