<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Página web interactiva para añadir, eliminar y dar like a fotos"
    />
    <meta name="author" content="María Tortello" />
    <meta name="keywords" content="MaríaT, like, TripleTen, Around US" />

    <title>Around The U.S.</title>
  </head>

  <body>
    <div class="page">
      <header class="header">
        <h1>Around</h1>
        <p>The U.S.</p>
      </header>

      <main class="content">
        <section class="profile">
          <div class="profile__avatar">
            <img alt="Profile photo" class="profile__photo" />
            <button class="profile__edit-avatar"></button>
          </div>

          <div class="profile__info">
            <div class="profile__info-text">
              <h2 class="profile__info-name"></h2>
              <p class="profile__info-about"></p>
            </div>

            <button class="profile__info-edit">
              <img
                class="profile__info-edit-pencil"
                src="<%= require('./images/pencilEditButton.svg')%>"
                alt="Pencil Edit Button"
              />
            </button>
          </div>

          <button class="profile__add-img"></button>
        </section>

        <section class="elements"></section>

        <div class="popup popup_profile">
          <form class="popup__form form" novalidate>
            <h3 class="popup__title">Editar perfil</h3>
            <img
              src="<%= require('./images/CloseIcon.svg')%>"
              alt="Close popup icon"
              class="popup__close-button"
            />
            <input
              class="form__edit-field form__edit-field_profile_name"
              type="text"
              id="name-input"
              name="name-input"
              placeholder="Nombre"
              required
              minlength="2"
              maxlength="40"
              value="Jacques Cousteau"
            />
            <span class="form__input-error name-input-error"></span>
            <input
              class="form__edit-field form__edit-field_about"
              type="text"
              id="about-input"
              name="about-input"
              placeholder="Acerca de mí"
              required
              minlength="2"
              maxlength="200"
              value="Explorer"
            />
            <span class="form__input-error about-input-error"></span>
            <button class="form__edit-subm-btn" type="submit">Guardar</button>
          </form>
        </div>
        <div class="popup popup_add-image">
          <form class="popup__form form" novalidate>
            <h3 class="popup__title">Nuevo lugar</h3>
            <img
              src="<%= require('./images/CloseIcon.svg')%>"
              alt="Close popup icon"
              class="popup__close-button"
            />
            <input
              class="form__edit-field form__edit-field_image_name"
              type="text"
              id="title-input"
              name="title-input"
              placeholder="Título"
              required
              minlength="2"
              maxlength="30"
            />
            <span class="form__input-error title-input-error"></span>

            <input
              class="form__edit-field form__edit-field_image_link"
              type="url"
              id="link-img-input"
              name="link-img-input"
              placeholder="Enlace a la imagen"
              required
            />
            <span class="form__input-error link-img-input-error"></span>

            <button class="form__edit-subm-btn" type="submit">Crear</button>
          </form>
        </div>

        <div class="popup popup_open-image">
          <div class="popup__img-container">
            <img class="popup__big-img" src="#" alt="" />
            <p class="popup__big-img-name"></p>
            <img
              src="<%= require('./images/CloseIcon.svg')%>"
              alt="Close popup icon"
              class="popup__close-button"
            />
          </div>
        </div>

        <div class="popup popup__content_confirmation">
          <form class="popup__form popup__form_confirmation">
            <h3 class="popup__title">¿Estás seguro/a?</h3>
            <img
              src="<%= require('./images/CloseIcon.svg')%>"
              alt="Close popup icon"
              class="popup__close-button"
            />

            <button class="form__edit-subm-btn" type="button">Sí</button>
          </form>
        </div>

        <div class="popup popup_add-image popup__updt-avatar-img">
          <form class="popup__form form" novalidate>
            <h3 class="popup__title">Cambiar foto de perfil</h3>
            <img
              src="<%= require('./images/CloseIcon.svg')%>"
              alt="Close popup icon"
              class="popup__close-button"
            />
            <input
              class="form__edit-field form__edit-field_image_link"
              type="url"
              id="link-img-input"
              name="link-img-input"
              placeholder="Enlace a la imagen"
              required
            />
            <span class="form__input-error link-img-input-error"></span>

            <button class="form__edit-subm-btn" type="submit">Guarda</button>
          </form>
        </div>
      </main>
      <footer class="footer">
        <p class="footer__copyright">&copy; 2024. María Tortello</p>
      </footer>
    </div>
    <template id="elements__card-template">
      <div class="elements__picture">
        <img class="elements__picture-size" src="#" alt="image template" />
        <button class="elements__picture-trash-btn"></button>
        <div class="elements__picture-name-section">
          <h3 class="elements__picture-name"></h3>
          <button class="elements__like-btn"></button>
        </div>
      </div>
    </template>
    <script type="module" src="./index.js"></script>
  </body>
</html>
